.titleLogin {
    font-size: calc(1.4rem + .1vw);
}

.card-body label {
    padding: .3rem 1rem;
}
.selfCenteringCard {
    width: 95% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}